version: '3.4'

services:
  gotodoweb:
    image: gotodoweb
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 3000:3000
    networks:
      - gotodoweb
    depends_on:
      - mysql

  mysql:
    image: mysql
    environment:
      MYSQL_DATABASE: gotodoweb
      MYSQL_ROOT_PASSWORD: password
    ports:
      - 3306:3306
    expose:
      - 3306
    networks:
      - gotodoweb
    volumes:
      - gotodoweb_mysql:/var/lib/mysql

  adminer:
    image: adminer
    ports:
      - 8080:8080
    networks:
      - gotodoweb
    environment:
      ADMINER_DEFAULT_SERVER: mysql
      ADMINER_DEFAULT_DATABASE: gotodoweb
      ADMINER_DEFAULT_USER: root

networks:
  gotodoweb:

volumes:
  gotodoweb_mysql:
