version: '3.4'

services:
  mysql:
    image: mysql
    environment:
      MYSQL_DATABASE: gotodoweb
      MYSQL_ROOT_PASSWORD: password
    ports:
      - 3306:3306
    networks:
      - gotodoweb

  adminer:
    image: adminer
    ports:
      - 81:8080
    networks:
      - gotodoweb
    environment:
      ADMINER_DEFAULT_SERVER: mysql

networks:
  gotodoweb:
